.login {
    -fx-background-color: #ff690f;
}

.login-form .text-field {
    -fx-background-radius: 0;
    -fx-padding: 5px 15px 5px 15px;
}

.text-field:focused {
	-fx-background-insets: 0px, 4px;
	-fx-background-color: black, white;
}

.text-field {
	-fx-background-insets: 0px, 4px;
	-fx-background-color: white;
	-fx-pref-height: 26px
}

.login-form  .choice-box {
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-background-insets: 0px, 2px;
    -fx-pref-width: 100em;
    -fx-alignment: CENTER-CENTER!important;
    -fx-text-alignment: center!important;
}

.login-form {
    -fx-padding: 1em 1em 1em 1em;
    -fx-spacing: 1.5em;
}

.login-title {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: #ff690f;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-indent: 20em;
    -fx-background-color: #fcdcca, white;
    -fx-background-insets: 0px, 1px;
    -fx-cursor: hand;
    -fx-pref-height: 26px;
	-fx-background-color: none;
	-fx-background-insets: 0px;
	-fx-border-color: none;
}
.button.error {
	-fx-background-insets: 0px, 4px;
    -fx-border-color: black;
    -fx-background-color: #FF00FF;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.button.check {
    -fx-border-color: white;
    -fx-background-color: green;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
	-fx-background-insets: 0px;
	-fx-border-color: none;
    -fx-text-fill: ff690f;
    }

.separator {
    -fx-background-color: white;
    -fx-max-height: 0.001em;
    -fx-min-height: -fx-max-height;
    -fx-pref-height: -fx-max-height;
    -fx-border-color: white;
    -fx-border-width: 0;
}

.hyperlink {
    -fx-text-fill: #c8c8c8;
}

.separator .line{
     -fx-border-color: linear-gradient(to right, rgba(0,0,0, 0.0) 0%, rgba(255,255,255, 1.0) 50%, rgba(255,255,255, 1.0) 50%, rgba(0,0,0, 0.0)	100% );
     -fx-border-repeat: repeat;
     -fx-border-attachment: scroll;
     -fx-border-position: 0% 0%;
	 -fx-border-clip: border-box;
	 -fx-border-origin: padding-box;
	 -fx-border-size: auto auto;
}


