[submodule "qabel-drop"]
	path = qabel-drop
	url = https://github.com/Qabel/qabel-drop.git
[submodule "qabel-accounting"]
	path = qabel-accounting
	url = https://github.com/Qabel/qabel-accounting.git
[submodule "qabel-block"]
	path = qabel-block
	url = https://github.com/Qabel/qabel-block.git
