.avatar {
    -fx-font-size: 3em;
    -fx-alignment: CENTER;

    -fx-text-fill: #343434;
    -fx-background-size: 50px;
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 0 0 0 0;
    -fx-margin: 3px;
    -fx-effect: dropshadow(gaussian, grey, 8, 0, 0, 5);
}

.avatarItem {
    -fx-padding: 0 0 0 10;
}

.quotaBlock {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-text-alignment: RIGHT!important;
    -fx-alignment: TOP-RIGHT!important;
    -fx-pref-width: 100px;
}

.button.choose {
    -fx-min-width: 7em;
}



.button {
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-indent: 20em;
    -fx-background-color: #fcdcca, #fc7b4c, #ff690f;
    -fx-background-insets: 0px, 1px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #fcdcca, #fcdcca;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#otherMessagebox {
    -fx-background-color: #ff690f;
    -fx-background-radius: 5;
}

#shadow {
    -fx-effect: dropshadow(one-pass-box, grey, 10, -1, 0, 0);
}

#myMessagebox {
    -fx-background-color: grey;
    -fx-background-radius: 5;
}

#textarea {
    -fx-border-color: #222222;
}

.progress-bar > *.bar {
    -fx-background-radius: 10px!important;
}

.progress-bar > .track {
    -fx-background-radius: 5em;
}

.selected {
    -fx-background-color: grey;
}
#chat{
    -fx-border-style: solid solid solid solid;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1
}

.inline-button {
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}
.inline-button:hover {
    -fx-opacity: 1.0;
}
.inline-button:pressed {
    -fx-opacity: 0.5;
}