.avatar {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;

    -fx-background-size: 50px;
    -fx-border-color: black;
    -fx-border-size: 0.1em;
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 0 0 0 0;
}

.button.choose {
    -fx-min-width: 7em;
}

.button-bar {
    -fx-spacing: 1em;
}

.button {
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-indent: 20em;
    -fx-background-color: #fcdcca, #fc7b4c, #fd670d;
    -fx-background-insets: 0px, 1px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #fcdcca, #fcdcca;
}