@font-face {
    -fx-font-family: 'Source Sans Pro';
    src: url("/font/source-sans-pro.regular.ttf") ;
}

@font-face {
    -fx-font-family: 'Source Sans Pro', bold;
    src: url("/font/source-sans-pro.bold.ttf") ;
}

@font-face {
    -fx-font-family: 'Source Sans Pro', black;
    src: url("/font/source-sans-pro.black.ttf") ;
}

* {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14;
}

.text-field:focused {
    -fx-background-insets: 0, 4px;
    -fx-background-color: black, white;
}

.text-area:focused {
    -fx-background-insets: 0, 4px;
    -fx-background-color: black, white;
}

.composedProgress {
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-border-color: #222222;
}

.progress-bar * {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.progress-bar > .track {
    -fx-background-color: white;
}

.composedProgress.class {
    -fx-border-width: 0;
    -fx-background-insets: 1;
    -fx-padding: 1px;
}

.composedProgress.class > .track {
    -fx-background-insets: 1;
    -fx-padding: 1px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .track {
    -fx-background-repeat: repeat-x;
    -fx-background-image: url("/scroll-horizontal.png");
}

.scroll-bar:vertical .track {
    -fx-background-repeat: repeat-y;
    -fx-background-image: url("/scroll.png");
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 1em 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 1em 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #222222;
    -fx-background-insets: 2px, 0, 0;
    -fx-background-radius: 2em;
}

.avatar {
    -fx-font-size: 3em;
    -fx-alignment: CENTER;
    -fx-text-fill: #343434;
    -fx-background-size: 50px;
    -fx-background-color: magenta;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 0 0 0 0;
    -fx-margin: 3px;
}

.avatarItem {
    -fx-padding: 0 0 0 10;
}

.avatarContainer {
    -fx-alignment: top-right;
}

.indicator {
    -fx-background-color: #ff690f;
    -fx-text-fill: white;
    -fx-background-radius: 3em;
    -fx-font-size: 1em;
    -fx-pref-width: 1.5em;
    -fx-pref-height: 1.5em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, -1, 0, 1);
    -fx-snap-to-pixel: true;
    -fx-min-width: 1.5em;
}

.button.choose {
    -fx-min-width: 7em;
}

.btn {
    -fx-cursor: hand;
}

.btn:hover {
    -fx-background-color: #e6e6e6;
}

.button {
    -fx-border-color: #333333;
    -fx-border-width: 0.15em;
    -fx-background-color: none;
    -fx-cursor: hand;
}

.button:hover {
    -fx-border-color: #808080;
    -fx-effect: innershadow(gaussian, #808080, 10, 10, 10, 10);
}

.button:pressed {
    -fx-border-color: #ff5908;
    -fx-effect: innershadow(gaussian, #ff5908, 10, 10, 10, 10);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#otherMessagebox {
    -fx-background-color: #ff690f;
    -fx-background-radius: 5;
}

#shadow {
    -fx-effect: dropshadow(one-pass-box, grey, 5, -1, 0, 2);
}

#myMessagebox {
    -fx-background-color: #4d4d4d;
    -fx-background-radius: 5;
}

.selected {
    -fx-background-color: #b3b3b3;
}

.inline-button {
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}

.inline-button.highlighted {
    -fx-opacity: 0.9;
}

.inline-button:hover, .inline-button:pressed, .darkgrey, .darkgrey:hover {
    -fx-effect: innershadow(gaussian , #333333, 10, 1, 1, 1);
}

.inline-button.faded-button {
    -fx-opacity: 0.5;
}

.inline-button.faded-button:hover {
   -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 1);
}

.combo-box {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 0.5em;
    -fx-pref-width: 300px;
}

.combo-box .list-cell {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box .list-cell:hover:selected:focused:filled {
    -fx-background: #999999;
}

.combo-box .arrow-button {
    -fx-background-color: white;
}

.combo-box .text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.combo-box * {
    -fx-background-insets: 0;
}

.combo-box-popup .list-view {
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 1);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:armed:focused {
    -fx-background-color: #9b9b9b;
    -fx-text-fill: -fx-text-inner-color;
}

.message-text {
    -fx-padding: 1em 1em 1em 1em;
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
    -fx-text-fill: white;
}

.message-date {
    -fx-padding: 0 1em 0.5em 1em;
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}

.own .message-date {
    -fx-alignment: bottom-right;
    -fx-text-alignment: right;
}

.own .message-text .label {
    -fx-text-alignment: right;
}

.other .message-text .label {
    -fx-text-alignment: left;
}

.message-text .label {
    -fx-wrap-text: true;
    -fx-text-fill: white;
}

.payload-type-icon {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 0, 2);
}

#feedbackField {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 0, 2);
}

.inline-button {
    -fx-font-weight: bold;
}

.inline-button.solid {
    -fx-opacity: 1.0;
}

#contactRootItem {
    -fx-padding: 0.4em 0 0 0.4em;
}

.chat-input {
    -fx-background-color: #4d4d4d;
    -fx-spacing: 1em;
    -fx-padding: 0.5em 0.5em 0 0.5em;
}

.chat-input > .edit-icon {
    -fx-fit-to-width: 2em;
}

.chat-input .text-area {
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: #4d4d4d;
    -fx-background-color: #4d4d4d;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-font-size: 1.2em;
    -fx-pref-height: 1em;
    -fx-max-height: 1em;
}

.chat-input .text-area * {
    -fx-effect: none;
    -fx-background-color: #4d4d4d;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.chat-input .text-area .content {
    -fx-effect: none;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-text-fill: white;
}

.text-field.inline {
    -fx-border-width: 0.15em;
    -fx-border-color: #333333;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-size: 1.1em;
    -fx-background-image:url('/icon/search.png');
    -fx-background-position: 10px 10px;
    -fx-background-repeat: no-repeat;

    -fx-padding: 10px 10px 10px 50px;
}

.text-field.inline:hover {
    -fx-effect: innershadow(gaussian, #808080, 10, 10, 10, 10);
}

.text-field.inline:pressed {
    -fx-effect: innershadow(gaussian, #ff5908, 10, 10, 10, 10);
}

.tree-table-row-cell.root {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #333333;
}

.tree-table-column {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #333333;
}

.tree-table-row-cell:hover {
    -fx-background-color: #e6e6e6;
}

.tree-table-row-cell:selected {
    -fx-background-color: #b3b3b3;
    -fx-text-fill: #333333;
    -fx-border-width: 0;
}

.tree-table-row-cell:selected * {
    -fx-background-color: #b3b3b3;
    -fx-text-fill: #333333;
}

.tree-table-row-cell:selected .tooltip {
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
}

.tree-table-view {
    -fx-background-insets: 0;
}

.tree-table-view:focused {
    -fx-background-insets: 0;
}

.tree-table-view *.column-header-background *.show-hide-columns-button,
.tree-table-view *.scroll-bar:vertical *.increment-button,
.tree-table-view *.scroll-bar:vertical *.decrement-button,
.tree-table-view *.scroll-bar:vertical *.increment-arrow,
.tree-table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-padding: 1 6 0 0;
}

.tree-table-view  *.scroll-bar:horizontal,
.tree-table-view  *.scroll-bar:horizontal *.track,
.tree-table-view  *.scroll-bar:horizontal *.track-background,
.tree-table-view  *.scroll-bar:horizontal *.thumb,
.tree-table-view  *.scroll-bar:horizontal *.increment-button,
.tree-table-view  *.scroll-bar:horizontal *.decrement-button,
.tree-table-view  *.scroll-bar:horizontal *.increment-arrow,
.tree-table-view  *.scroll-bar:horizontal *.decrement-arrow {
	-fx-base: transparent;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.nested-column-header .table-column {
    -fx-background-color: #b3b3b3;
}

.transparency-button {
    -fx-background-color: none;
    -fx-background-insets: 0px;
    -fx-border-color: none;
}

.transparency-button:hover {
    -fx-background-insets: 0px;
    -fx-border-color: none;
    -fx-text-fill: #808080;
}

.transparency-button:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
}

.padded-page {
    -fx-padding: 3em;
}

VBox.spaced, HBox.spaced {
    -fx-spacing: 2em;
}

.headline {
    -fx-font-weight: bolder;
    -fx-border-width: 0 0 1px 0;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-underline: false;
}

.hyperlink .text {
    -fx-fill: #222222;
}

.hyperlink:visited .text {
    -fx-fill: #222222;
}

.hyperlink:hover .text {
    -fx-fill: #787878;
}

.hyperlink:pressed .text {
    -fx-fill: #fd670d;
}

.labeled-link {
    -fx-spacing: 0.5em;
}

.labeled-link > .label {
    -fx-font-weight: bold;
}

.syncItem {
    -fx-border-color: darkgrey;
    -fx-border-width: 1 0 0 0;
}


.avatar {
    -fx-alignment: CENTER;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-size: 50px;
    -fx-background-color: magenta;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 0 0 0 0;
    -fx-margin: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0, 0, 5);
}
.avatar .text {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-text-fill: #343434;
}

.avatarItem {
    -fx-padding: 0 0 0 10;
}

* {
    -fx-sync-avatar-width: 25;
}

.sync-avatar .avatar {
    -fx-min-height: -fx-sync-avatar-width;
    -fx-min-width: -fx-sync-avatar-width;
    -fx-pref-height: -fx-sync-avatar-width;
    -fx-pref-width: -fx-sync-avatar-width;
    -fx-effect: none;
}

.sync-avatar .avatar .text,
.sync-name {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.button-qrcode {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/settings.png');
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 40px;
    -fx-border-style: none;
    -fx-border-color: none;
}

.button-qrcode:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;

}

.button-qrcode:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
    -fx-text-fill: #ff690f;
}

.pane-popup {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-padding: 50px 0px 50px 0px;
}

.icon-client {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/account.png');
}

.icon-earth{
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/earth.png');
}

.icon-key {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/key_variant.png');
    -fx-margin: 20px;
}

.icon-client, .icon-earth, .icon-key {
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 40px;
}

.label-icon {
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-padding: 5px 20px 5px 10px;
}

.label-icon .text {
    -fx-font-size: 12;
}

.label-name {
    -fx-pref-width: 200px;
    -fx-padding: 5px 0px 5px 10px;
}

.label-name .text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.container {
    -fx-max-width: 300px;
    -fx-max-height: 400px;
    -fx-position: absolute;
    -fx-background-color: white;
}

.image-qrcode {
   -fx-alignment: center;
}

.button-close-pane {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/close.png');
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-border-style: none;
    -fx-border-color: none;
}

.icon-edit {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/pencil.png');
    -fx-background-position: left;
    -fx-pref-height: 25px;
    -fx-pref-width: 30px;
}

.icon-delete {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/delete.png');
}

.icon-export {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/upload.png');
}

.icon-qrcode {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/qrcode.png');
}

.icon-email {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/email.png');
}

.icon-delete, .icon-export, .icon-qrcode, .icon-email {
    -fx-background-position: left;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}

.button-menu {
    -fx-border-style: none;
    -fx-border-color: none;
}

.button-menu:hover {
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-effect: innershadow(gaussian, #808080, 1, 1, 1, 1);
}

.button-menu:pressed {
    -fx-border-color: none;
    -fx-border-style: none;
    -fx-effect: innershadow(gaussian, #ff5908, 1, 1, 1, 1);
}

.vbox-menu {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0.15em;
    -fx-border-color: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 1);
    -fx-max-width: 200px;
}

.popup-menu {
    -fx-background-color: transparent;
    -fx-max-width: 200px;
}


.button-close-pane:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: #808080;
}

.button-close-pane:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
}

.menu-icons {
    -fx-background-color: white;
    -fx-pref-width: 30px;
    -fx-pref-height: 50px;
}
