.detailsContainer {
    -fx-padding: 20px;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 0.5em;
    -fx-pref-width: 300px;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}
.combo-box .list-cell:hover:selected:focused:filled
{
    -fx-background: #999999;
}

.combo-box .arrow-button {
    -fx-background-color: white;
}

.combo-box .text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.combo-box * {
    -fx-background-insets: 0;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 1 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #cccccc;
    -fx-text-fill: -fx-text-inner-color;
}
.combo-box-popup .list-view .list-cell:armed:focused
{
    -fx-background-color: #9b9b9b;
    -fx-text-fill: -fx-text-inner-color;
}