.progress-indicator .progress, .progress-bar .bar {
    -fx-background-color: #ff5908;
    -fx-background-radius: 0px;

}
.progress-indicator.finished .progress, .progress-bar.finished .bar {
    -fx-background-color: #1da314;
}

#progress > .track {
    -fx-background-radius: 0;
}

.composedProgress BorderPane {
    -fx-padding: 0 0.5em 0 0.5em;
}

#syncStatusLabel {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}
