.vbox-popup {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-padding: 50px 0px 50px 0px;

}

.button-close-stackpane {
  -fx-alignment: top-right;
  -fx-padding: 5px 10px 10px 10px;
  -fx-background-color:transparent;
  -fx-border-style:none;
  -fx-background-insets: 0px;
  -fx-border-color: none;
}

.button-close-stackpane:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style:none;
    -fx-border-color: none;
    -fx-text-fill: ff690f;
}

.button-close-stackpane:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style:none;
}

.text-area-popup {
    -fx-max-width:500;
    -fx-min-width:100;
    -fx-max-height:1000;
    -fx-min-height:500;
}

.text-area-popup *.text {
    -fx-text-alignment: center;
}
