.vbox-popup {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-padding: 50px 0px 50px 0px;
}

.button-close-stackpane {
  -fx-alignment: top-right;
  -fx-padding: 5px 10px 10px 10px;
  -fx-background-color: transparent;
  -fx-border-style: none;
  -fx-background-insets: 0px;
  -fx-border-color: none;
}

.button-close-stackpane:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: #ff690f;
}

.button-close-stackpane:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
}

.text-area-popup {
    -fx-max-width: 405px;
    -fx-min-width: 100px;
    -fx-min-height: 400px;
}

.align-text-center {
    -fx-max-width: 405px;
    -fx-overflow: scroll;
    -fx-display: inline-block;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.align-text-center * {
     -fx-margin: 10px 5px 5px 5px;
     -fx-padding: 10px 0px 0px 0px;
}

.align-text-center .text {
    -fx-text-alignment: center;
}

.text-area-popup * {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-margin: 10px 5px 5px 5px;
    -fx-padding: 10px 0px 0px 0px;
    -fx-overflow: scroll;
    -fx-display: inline-block;
}

.text-area-popup .text {
    -fx-text-alignment: LEFT;
}

.text-area-popup .content {
    -fx-padding: 10px 10px 10px 10px;
 }

.fade-top {
    -fx-position: absolute;
    -fx-pref-height: 25px;
    -fx-pref-width: 400px;
    -fx-alignment: TOP_LEFT;
    -fx-background-image:url('/img/fade-top.png');
}

.fade-bottom {
    -fx-position: absolute;
    -fx-pref-height: 40px;
    -fx-pref-width: 395px;
    -fx-alignment: BOTTOM_LEFT;
    -fx-background-image:url('/img/fade-bottom.png');
}

.container {
    -fx-max-width:550px;
    -fx-min-height:500px;
    -fx-position:absolute;
    -fx-background-color:white;
}
