.button-about {
    -fx-border-color: none;
    -fx-pref-width: 500px;
    -fx-pref-height: 60px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/chevron_right.png');
    -fx-background-position: right;
    -fx-alignment: TOP_LEFT;
    -fx-padding: 15px 100px 5px 10px;
}

.hyperlink-box-about {
    -fx-alignment: BOTTOM_LEFT;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-underline: false;
}

.hyperlink-box-about .text {
    -fx-fill: #333333;
    -fx-font-size: 11;
}

.hyperlink-box-about:hover .text, .hyperlink-box-about:pressed .text, hyperlink-box-about:visited .text {
    -fx-fill: #333333;
}

.linkcontainer-about {
    -fx-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-min-width: 586px;
    -fx-min-height: 529px;
}

.img-logo-about {
    -fx-fit-height: 50px;
    -fx-fit-width: 200px;
}

.label-about .text {
    -fx-fill: #333333;
    -fx-font-size: 11;
}

.label-title-box {
    -fx-font-weight: bold;
}

.box-button-about {
    -fx-border-width: 1.5px 1.5px 1.5px 1.5px;
    -fx-border-color: #333333;
    -fx-min-width: 200px;
    -fx-max-width: 500px;
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
}

.box-button-about .label {
    -fx-font-size: 6em;
}

.box-button-about:hover {
    -fx-border-color: #808080;
    -fx-effect: innershadow(gaussian, #808080, 1, 1, 1, 1);
}

.box-button-about:pressed {
    -fx-border-color: #ff5908;
    -fx-effect: innershadow(gaussian, #ff5908, 1, 1, 1, 1);
}

.label-box-about {
    -fx-padding: 10px 0px 0px 0px;
    -fx-pref-width: 100px;
}

VBox.spaced {
    -fx-spacing: 0.35em;
}

.label-with-logo {
    -fx-pref-width: 350px;
    -fx-alignment: CENTER;
}

.letter-logo {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/label-logo.png');
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 110px;
}

.label-logo {
    -fx-pref-width: 250px;
}

.label-version {
    -fx-padding: 0 0 20px 0;
}
