.button-qrcode {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/settings.png');
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 40px;
    -fx-border-style: none;
    -fx-border-color: none;
}

.button-qrcode:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: #ff690f;
}

.button-qrcode:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
}
