.icon-edit {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/pencil.png');
    -fx-background-position: left;
    -fx-pref-height: 25px;
    -fx-pref-width: 30px;
}

.icon-delete {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/delete.png');
}

.icon-export {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/upload.png');
}

.icon-qrcode {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/qrcode.png');
}

.icon-email {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/email.png');
}

.icon-delete, .icon-export, .icon-qrcode, .icon-email {
    -fx-background-position: left;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}

.button-menu {
    -fx-border-style: none;
    -fx-border-color: none;
}

.button-menu:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: #ff690f;
}

.button-menu:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
}

.vbox-menu {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #CCCCCC;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 1);
    -fx-max-width: 200px;
}

.vbox-border {
     -fx-background-color: transparent;
}

.popup-menu {
    -fx-background-color:transparent;
    -fx-max-width: 200px;
}
