.dialog {
    -fx-spacing: 1em;
    -fx-padding: 1em;
    -fx-background-color: white;
    -fx-min-width: 40em;
    -fx-min-height: 10em;
}

* {
    -fx-highlight-fill: #fd670d;
}

.dialog .label {
    -fx-min-width: 10em;
    -fx-pre-width: 10em;
    -fx-max-width: 10em;
}

.row {
    -fx-spacing: 1em;
    -fx-pref-height: 1.5em;
    -fx-alignment: center-left;
}

.text-field {
    -fx-pref-width: 40em;
    -fx-background-radius: 0;
    -fx-padding: 5px 15px 5px 15px;
    -fx-alignment: center;
    -fx-text-alignment: center!important;
    -fx-min-height: 2.3em;
}

.text-field.error {
    -fx-background-color:  black, white;
}

