.pane-popup {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-padding: 50px 0px 50px 0px;
}

.icon-client {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/account.png');
}

.icon-earth{
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/earth.png');
}

.icon-key {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/key_variant.png');
    -fx-margin: 20px;
}

.icon-client, .icon-earth, .icon-key {
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 40px;
}

.label-icon {
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;
    -fx-padding: 5px 20px 5px 10px;
}

.label-icon .text {
    -fx-font-size: 12;
}

.label-name {
    -fx-pref-width: 200px;
    -fx-padding: 5px 0px 5px 10px;
}

.label-name .text {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}


.container {
    -fx-max-width: 300px;
    -fx-max-height: 400px;
    -fx-position: absolute;
    -fx-background-color: white;
}

.image-qrcode {
   -fx-alignment:center;
}

.button-close-pane {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/img/close.png');
    -fx-background-position: left;
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-border-style: none;
    -fx-border-color: none;
}

.button-close-pane:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-style: none;
    -fx-border-color: none;
    -fx-text-fill: #ff690f;
}

.button-close-pane:pressed {
    -fx-border-color: none;
    -fx-text-fill: none;
    -fx-border-style: none;
}
