#window {
    -fx-background-color: white;
}

.selectedIdentity {
    -fx-padding: 10px;
}

.navi-container {
    -fx-text-fill: rgb(77,77,77);
    -fx-background-color: #ff690f;
    -fx-pref-width: 220px;
    -fx-background-image: url('/rough_edgeshadow.png');
    -fx-background-repeat: repeat-y;
    -fx-background-position: top right;
}

.aliasContainer {
    -fx-pref-width: 150px;
}

.navi {
    -fx-font-weight: bold;
    -fx-padding: 10px 0 0 0px;
}

.navi .navi-item {
    -fx-alignment: top-left;
    -fx-padding: 1px 20px 1px 20px;
}

.navi .navi-item.active {
    -fx-padding: 1px 0px 1px 0px;
}

.navi .button {
    -fx-pref-width: 220px;
    -fx-cursor: hand;
    -fx-border-radius: 0, 0, 0, 0;
    -fx-padding: 10px 10px 5px 10px;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.navi-container .progress-bar .bar {
    -fx-background-color: #ff690f;
}
.navi-container .progress-bar:disabled .bar {
    -fx-background-color: #ff690f;
}
.navi-container .progress-bar:disabled .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.navi .button:hover {
    -fx-focus-traversable: true;
    -fx-background-color: white;
    -fx-text-fill: #222222;
}

.button:armed {

}

.navi .navi-item.active .button {
    -fx-text-fill: #222222;
    -fx-background-radius: 0;
    -fx-width: 220px;
    -fx-pref-width: 220px;
    -fx-max-width: 220px;
    -fx-padding: 10px 30px 10px 30px;
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color: white!important;
    -fx-padding: 0;
}

.scrollContent {
    -fx-background-color: white;
    -fx-background-size: 50px;
    -fx-background-position: bottom right;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 0 0 10px;
}
