#window {
    -fx-background-color: white;
}

.selectedIdentity {
    -fx-padding: 10px;
}

.navi-container {
    -fx-text-fill: rgb(77, 77, 77);
    -fx-background-color: #ff690f;
    -fx-pref-width: 220px;
    -fx-background-image: url('/rough_edgeshadow.png');
    -fx-background-repeat: repeat-y;
    -fx-background-position: top right;
}

.aliasContainer {
    -fx-pref-width: 150px;
}

.navi {
    -fx-padding: 10px 0 0 0px;
}

.navi .navi-item {
    -fx-padding: 0px 20px 0px 20px;
}

.navi .navi-item.active {
}

.navi .button {
    -fx-pref-width: 220px;
    -fx-cursor: hand;
    -fx-border-radius: 0, 0, 0, 0;
    -fx-padding: 10px 10 10px 45px;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-alignment: CENTER_LEFT;
    -fx-background-insets: 0px;
    -fx-border-color: none;
    -fx-font-weight: normal;
}

.navi-container .progress-bar .bar {
    -fx-background-color: #ff690f;
}

.navi-container .progress-bar:disabled .bar {
    -fx-background-color: #ff690f;
}

.navi-container .progress-bar:disabled .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.navi .button:hover {
    -fx-background-color: none;
    -fx-text-fill: white;
}

.navi .navi-item.active {
    -fx-background-color: white;
}

.navi .navi-item.active .button {
    -fx-font-weight: bold;
    -fx-text-fill: #ff690f;
}

.navi-item .indicator {
    -fx-background-color: #ffffff;
    -fx-text-fill: #222222;
}
.navi-item.active .indicator {
    -fx-background-color: #222222;
    -fx-text-fill: #ffffff;
}

.scroll-pane {
    -fx-background-color: white !important;
    -fx-padding: 0;
}

.scrollContent {
    -fx-background-color: white;
    -fx-background-size: 50px;
    -fx-background-position: bottom right;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 0 0 10px;
}

.quotaBlock {
    -fx-background-color: #ffffff;
    -fx-text-alignment: RIGHT !important;
    -fx-alignment: TOP-RIGHT !important;
    -fx-pref-width: 100px;
}

.mail {
    -fx-text-fill: white;
}

.quota {
    -fx-text-fill: #fd670d;
    -fx-padding: 0 5px 0 0;
}

.alias {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

